h1{
    display: grid;
    justify-content: center;
}

main > div{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 42vh);
    gap: 5vh;

}

main > div > article{
    display: grid;
    justify-content: center;
    text-align: center;
}


main > div > article > img{
    height: 60vh;
    width: 42vh;
}