h1{
    display: grid;
    justify-content: center;
}

main div {
    display: grid;
    grid-template-columns: repeat(auto-fit,50vh);
    height: 50vh;
    gap: 2vh;
    justify-content: center;
}

main div article{
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    width:  46vh;
    height: 20vh
}

main div article img{
    height: 5vh;
    margin-left: 1vh;
    margin-top: -1vh;
}

main div article h2{
    margin-top: 1.5vh;
}

main div article section{
    grid-column: 1/3;
    text-align: start;
    margin-left: 2vh;
    margin-top: -2vh;
}

main div article ul{
    padding: 0vh;
}

main div article ul li{
    display: inline-block;
    
}

main div article ul li div{
    width: 2vh;
    height: 2vh;
}

main div article ul li img{
    width: 3vh;
}

.star-img{
    height: 2vh;
    vertical-align: bottom;
}

.fork-img{
    vertical-align: baseline;
    height: 2vh;
}