main{
    display: grid;
    justify-content: center;

}

main > article{
    display: grid;
    grid-template-columns: 10vh 25vh;
    align-items: center;
    justify-content: center;
    height: 60vh;
    column-gap: 6vh;
    padding: 5vh;
    
}


main > article > div{
    display: grid;
    align-items: center;
    height: 3vh;
}


main > article > div > div{
    height: 100%;
    width: 83%;
}


#web-level {
    width: 92%;
}

#java-level {
    width: 90%;
}

#js-level {
    width: 85%;
}

#sw-level {
    width: 60%;
}

#react-level {
    width: 85%;
}

#en-level{
    width: 70%;
}

#git-level {
    width: 80%;
}



